.slider-container {
  display: flex;
  justify-content: flex-start; /* Align the images in a row */
  align-items: center;
  width: 1350px; /* Full width of the viewport */
  height: 60vh; /* Adjustable height for the slider */
  position: relative;
  margin: 0; /* Remove any extra margin */
  object-fit: cover; 
}

.slider-image {
  flex-shrink: 0; /* Prevent the image from shrinking */
  width: 1350px; /* Ensures the image spans the container's width */
  height: 100%; /* Ensures the image fills the container's height */
  object-fit: cover; /* Stretch and crop the image proportionally to fit */
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;

}

.slider-button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.slider-button.prev {
  left: 20px;
}

.slider-button.next {
  right: 20px;
  left: 1270px ;
}
